<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cooking.dao.mapper.RecipeViewMapper">
    <select id="listUserViews" resultType="com.example.cooking.dto.resp.ViewsListResp">
        SELECT
        rv.id AS id,
        rv.recipe_id AS recipeId,
        r.dish_name AS dishName,
        r.description AS description,
        r.images AS images
        FROM recipe_views rv
        LEFT JOIN recipes r ON r.id = rv.recipe_id
        WHERE rv.user_id = #{userId}
        ORDER BY rv.updated_at DESC
    </select>


</mapper>
